boto3==1.7.31
botocore==1.10.31
certifi==2018.4.16
chardet==3.0.4
docutils==0.14
futures==3.2.0
idna==2.6
jmespath==0.9.3
python-dateutil==2.7.3
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
urllib3==1.24.2
